[Unit]
Description=Monitor Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/monitor-server/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target